<div class="row">
  <div class='span0 well text-center'>
    <!-- Want link to be a 'post' not a 'get'(need to submit a form), 
    use " method: 'post' " to change HTML to include java-script which builds and submits a form.
    To submit parameters via the url use named_route(object, params), here route is
    'vote_post_path', object is 'post' and param vote=true is 'vote: true';
    Use remote: true to specify that your submitting an ajax request (rails generates ajax code for you) -->
    <% if current_user %>
      <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
        <i class='icon-thumbs-up'></i> 
        <span id='post_<%=post.slug%>_up_votes'> <%= post.up_votes %> </span>
      <% end %>
      <br/>
      <!-- <%= post.total_votes %> net votes up -->
      <br/>  
      <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
        <i class='icon-thumbs-down'></i> 
        <span id='post_<%=post.slug%>_down_votes'> <%= post.down_votes %> </span>
      <% end %> 
    <% else %>
       <i class='icon-thumbs-up'></i> <%= post.up_votes %>
      <br/>
      <i class='icon-thumbs-down'></i> <%= post.down_votes %>
      <!-- <%= post.total_votes %> votes -->
      <br/>
    <% end %>

  </div>
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <% if logged_in? %>
      (<%= link_to 'edit', edit_post_path(post) if logged_in? %>)
    <% end %>
    <p><%= post.description %></p>
    <p>       
      <span class="quiet">posted by</span> <%= link_to post.creator.username, user_path(post.creator) %>
      <small>at <%= display_datetime(post.created_at) %></small>     
    </p>
    <span>
      <!-- post_path is posts/:id/ -->
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </span>
  </div>
</div>